* { box-sizing: border-box;}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid black; 
    height: 3em;
    width: 3em;
    text-align: center;
}

#yellow {
    background-color: yellow;
}

#free {
    background-color: lightslategray;
}