* {
    box-sizing: border-box;
}


#fire {
    background-image: url(http://www.pngmart.com/files/1/Fire-Flame-Transparent-Background.png);
    background-repeat: repeat;
    background-position: bottom;
    margin-bottom: 0;
    position: fixed; 
    display: block;
    align-content: center;
    height: 250px; 
    width: 100%;

}



body {
    background-image: url(http://www.dundjinni.com/forums/uploads/Ravenbow/49E_BrickRound70_CG_bg-a.png);
    background-repeat: repeat; 
}

h1 {
    color: goldenrod; 

}

.text {
    color: white;
    font-size: 16pt;
}


#links {
    height: 235px; 
    width: 150px; 
    position: relative;
    float: right;
    border-radius: 20px;
    background-color: goldenrod;
    margin-left: 10px; 
    border-style: dashed; 
    border-color: red; 
    border-width: 2pt;
    padding-left: 5px; 
    box-shadow: 2pt 2pt 2pt red;
}




