* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

img {
   width: 129px; 
   height: 129px;
    float: left;
    margin: 10px;
}

#flowerbed {
    position: absolute;
    top :50%;
    left: 50%;
    transform: translate(-50%, -50%); 
 }

img:nth-child(4n+1) {
    clear: both; 
}


div:hover > img{
   opacity: .1;
}

#flower:hover {
opacity: 1; 
transition-property: transform;
transform: scale(1.5, 1.5) rotate(180deg);
transition-duration: 2s;
transition-timing-function: ease-in-out;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0; 
}