* {
    box-sizing: border-box; 
}

div {
   filter: drop-shadow(10px 10px 4px gray);
   width: 350px;
   margin-left: auto;
   margin-right: auto; 
   border-style: solid; 
   border-color: pink;
 }
 