* {
    box-sizing: border-box; 
}

body {
    background-color: black;
    color: snow;
}

.colors {
  height: 100px;
   width: 100px; 
   margin: 0; 
   padding: 0;
   text-align: center;
   position: relative; 
}

#red {
    background-color: red; 
}

#green { 
    background-color: green;
}

.shapes {
    background-color: snow;
}


#square {
    height: 100px;
    width: 100px; 
    margin: 0; 
    padding: 0;
    text-align: center;
    position: relative; 
 }


 #circle {
    height: 100px;
    width: 100px; 
    margin: 0; 
    padding: 0;
    text-align: center;
    position: relative; 
    border-radius: 70%;
 }

 .square {
    height: 100px;
    width: 100px; 
    margin: 0; 
    padding: 0;
    text-align: center;
    position: relative; 
    border-width: 10pt; 
    border-style: solid;
    border-color: gray;
 }

 #white_t {
    border-top-color: snow;
 }

 #white_tb {
    border-top-color: snow;
    border-bottom-color: snow;
 }

 #white_trb {
    border-top-color: snow;
    border-bottom-color: snow;
    border-right-color: snow;
 }

 #white_trbl {
    border-top-color: snow;
    border-bottom-color: snow;
    border-right-color: snow;
    border-left-color: snow;
 }
