* {
    box-sizing: border-box;
}

#google {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/2/2f/Google_2015_logo.svg);
    background-position: right; 
    background-repeat: no-repeat; 
    background-size: 50px 50px;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 0;
    right: 0;
    }

header {
    background-color: rgba(128, 128, 128, .7);
    padding: 0; 
    margin: 0; 
    margin-bottom: 50px;
    position: fixed;
    width: 100%;
    text-align: center;
}





#poa { 
    width: 100%;
    position: relative; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }



.square {
    height: 100px; 
    width: 100px; 
}
   
#oneoutline {
    position: relative; 
    float: right;
    border: 5px solid black; 
} 

#one {
    height: 80px;
    width: 80px; 
    position: relative; 
    margin-right: -90px; 
    margin-top: 10px; 
    float: right;
    background-color: pink; 
    
}

 #two {
    margin-right: 10px; 
    padding: 0;
    position: relative; 
    float: left;
    background-color: pink; 
    border: 2pt solid black; 
}



#threeoutline {
    position: relative; 
    float: right;
    border: 5px solid black; 
    margin-bottom: 10px; 
} 

#three {
    height: 80px;
    width: 80px; 
    margin-right: -50px; 
    margin-top: 10px; 
    position: relative; 
    float: right;
    background-color: pink; 
}




@media (max-width: 600px) {

.square {
    width: 100%;
    margin: 0;
}

#one {
    width: 95%; 
    margin-right: 2.5%; 
    margin-top: -90px;
}


#three {
    width: 95%; 
    height: 80px; 
    margin-right: 60px; 
    margin-top: -100px; 
    
}

}
